html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Hind', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

@font-face {
  font-family: 'BeautySchool';
  src: local('BeautySchool'), url('./fonts/HelveticaNeueLTStd-BlkEx.otf') format('opentype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
